In [1]:
# Sampling Distribution
# What is 
# μ
# ¯
# X
#  for our sampling distribution? (The data for the 100 sample means is given in the CSV file upgrad_samples.csv).
import pandas as pd

In [2]:
df = pd.read_csv("./Inferntial Statistics - UpGrad Samples.csv")

In [3]:
df.head()

   Sample No.  Sample Mean
0           1          3.2
1           2          2.6
2           3          2.8
3           4          2.0
4           5          3.0

In [4]:
df.mean()

Sample No.     50.500
Sample Mean     2.348
dtype: float64

In [6]:
df["Sample Mean"].mean()

2.3480000000000003